{% extends 'base.html' %}
{% block content %}
<h2>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} объявления</h2>
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>
        {{ form.title.label_tag }}<br>
        {{ form.title }}
        {{ form.title.errors }}
    </p>

    <p>
        {{ form.category.label_tag }}<br>
        {{ form.category }}
        {{ form.category.errors }}
    </p>

    <p>
        {{ form.content.label_tag }}<br>
        {{ form.content }}
        {{ form.content.errors }}
    </p>

    <p>
        {{ form.image.label_tag }}<br>
        {{ form.image }}
        {{ form.image.errors }}
    </p>

    <p>
        {{ form.video.label_tag }}<br>
        {{ form.video }}
        {{ form.video.errors }}
    </p>

    {{ form.media }}

    <button type="submit" class="btn">{% if form.instance.pk %}Сохранить{% else %}Создать{% endif %}</button>
</form>
{% endblock %}